[Unit]
Description=pi-square
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/Desktop/pi-square/run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

